.content {
    min-height: 150px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 6px;
    background: #f5f5f5;
}

.key {
    font-weight: bold;
    color: #444;
}

.value {
    color: #222;
    max-width: 50%;
    text-align: right;
}
.close-btn{
    border: solid 1px red;
    border-radius: 10px;
    color: red;
    background-color: white;
}