.title {
    margin-bottom: 20px;
}

.grid {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card.stat {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex: 1;
}

.card.danger {
    background: #ffe0e0;
}

.charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
}

.chart-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}