.bg-green {
    background-color: #22C55E;
    color: white;
    padding: 3px;
}

.bg-yellow {
    background-color: #FACC15;
    color: white;
    padding: 3px;
}

.bg-red {
    background-color: #EF4444;
    color: white;
    padding: 3px;
}